<div class="main mt-5 ">
  <div class="text-center mb-5">
  <input placeholder="paste your url string here" class="form-control mb-4" type="text" [(ngModel)]="url" />
  <button type="button" class="mt-3" (click)="onShorten()" class="btn btn-primary">Shorten</button>
  </div>
      <div *ngIf="shortenedUrls">
        <p>Shortened URLs:</p>
        <ul>
          <li>
            <a href="{{ urls.url1 }}" target="_blank">{{ urls.url1 }}</a>
          </li>
          <li>
            <a href="{{ urls.url2 }}" target="_blank">{{ urls?.url2 }}</a>
          </li>
        </ul>
      </div>
      <!-- <div *ngIf="error">{{ error }}</div> -->
    </div>

    